@import '../../skin.scss';
@import '../../styles.scss';
@import '../app.component.scss';




.ez-nav{
  background:$ez-light-blue;
}

header{
  height:$sz-header;
  background: $ez-ash;

}

