<header class="flex flex-spacebetween">
  <ul class="flex strong ">
    <li style="padding:0 20px;" class="flex-middle">
      <button class="ez-btn btn-primary" (click)="test = !test">
        <i class="fas fa-bars"></i>
      </button>
    </li>

    <li routerLink="/welcome" routerLinkActive="active" class="nav-link">
      HOME
    </li>
    <li routerLink="/human" routerLinkActive="active" class="nav-link">
      HUMAN
    </li>
    <li class="nav-link">
      LIENS
    </li>
  </ul>

  <div style="padding-right:20px;" class="flex-middle">
    <button class="ez-btn btn-primary">Download resources</button>
  </div>
</header>
