<div class="content-area">
  <!--
    <content-head>
    <div class="ez-ctn grid-ctn gap-sm-rp">
      <div
        class="grid-sm-12 grid-md-5 grid-lg-3  grid-ctn-start grid grid-itm-middle"
      >
        <div class="mr3">
          <button btnbasiclarge>
            <i class="fas fa-arrow-left"></i>
          </button>
        </div>

        <h1 >Buttons</h1>
      </div>

      <div
        class="grid-sm-12 grid-md-7  grid-lg-9 rp-left grid grid-ctn-end  g1"
      >
        <button btnbasiclarge>
          <i class="fas fa-search"></i>
          <div class="text-small ">Search</div>
        </button>
        <button btnbasiclarge>
          <i class="fas fa-arrow-down"></i>
          <div class="text-small ">Download</div>
        </button>
        <button btnbasiclarge>
          <i class="fas fa-plus"></i>
          <div class="text-small ">Add</div>
        </button>
      </div>
    </div>
  </content-head>
  -->

  <div class="content-body">
    <!--<div class="grid-sm-12 ">
        <h2>Default</h2>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae.
        </p>
      </div>-->
    <ul class="grid-column gap-xl">
      <li>
        <div class="display-lg">Buttons</div>
      </li>

      <li>
        <h2>Basic</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
          ullamcorper sit amet ligula.
        </p>

        <ilo>
          <ilo-head>
            <button btnbasic>Link 1</button>
            <button btnbasic>Link 2</button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnbasic" paramend="button">Link 1</cd>
            <cd param="button btnbasic" paramend="button">Link 2</cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>

      <li>
        <h2>Major</h2>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
          ullamcorper sit amet ligula. Vivamus magna justo, lacinia eget
          consectetur sed, convallis at tellus. Pellentesque in ipsum id orci
          porta dapibus.
        </p>
        <ilo>
          <ilo-head>
            <button btnmajor>Submit</button>
            <button btnmajor>Confirm</button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnmajor" paramend="button">Submit</cd>
            <cd param="button btnmajor" paramend="button">Confirm</cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Minor</h2>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>

        <ilo>
          <ilo-head>
            <button btnminor>Delete</button>
            <button btnminor>Cancel</button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnminor" paramend="button">Delete</cd>
            <cd param="button btnminor" paramend="button">Cancel</cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h1>Size variations</h1>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
          ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada
          feugiat.
        </p>
      </li>

      <li>
        <h2>Large</h2>
        <p class="text-subtle">
          <small>
            Only intended for menu buttons. Do not use as individual component.
          </small>
        </p>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
          ullamcorper sit amet ligula.
        </p>

        <ilo>
          <ilo-head>
            <button btnbasiclarge><i class="far fa-trash-alt"></i></button>
            <button btnmajorlarge><i class="far fa-trash-alt"></i></button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnmajorlarge" paramend="button">
              <div class="ml3">
                <cd param="i" paramend="i"></cd>
              </div>
            </cd>
            <cd param="button btnmajorlarge" paramend="button">
              <div class="ml3">
                <cd param="i" paramend="i"></cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Small</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>

        <ilo>
          <ilo-head>
            <button btnmajorsmall><i class="far fa-trash-alt"></i></button>
            <button btnmajorsmall>2</button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnmajorsmall" paramend="button">
              <div class="ml3">
                <cd param="i" paramend="i"></cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h1>Menu buttons</h1>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,
          ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada
          feugiat.
        </p>
      </li>

      <li>
        <h2>Content menu</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>

        <ilo>
          <ilo-head>
            <button btnbasiclarge>
              <i class="fas fa-search"></i>
              <div class="text-small ">Search</div>
            </button>
            <button btnbasiclarge>
              <i class="fas fa-arrow-down"></i>
              <div class="text-small ">Download</div>
            </button>
            <button btnbasiclarge>
              <i class="fas fa-plus"></i>
              <div class="text-small ">Add</div>
            </button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnbasiclarge" paramend="button"
              ><div class="ml3">
                <cd param="i" paramend="i"></cd
                ><cd param="div" paramend="div">Text</cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Context menu</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>

        <ilo>
          <ilo-head>
            <button btnmajorlarge>
              <i class="far fa-trash-alt"></i>
              <div class="text-small ">Delete</div>
            </button>
            <button btnmajorlarge>
              <i class="far fa-edit"></i>
              <div class="text-small ">Edit</div>
            </button>
            <button btnmajorlarge>
              <i class="far fa-eye"></i>
              <div class="text-small ">View</div>
            </button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnmajorlarge" paramend="button"
              ><div class="ml3">
                <cd param="i" paramend="i"></cd
                ><cd param="div" paramend="div">Text</cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h1>Feedback design</h1>
        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae.
        </p>
      </li>
      <li>
        <h2>Spinner</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>
        <ilo>
          <ilo-head>
            <!--
                  <button (click)="chu = !chu" btnmajor>
                  <div  class="test-overlay"></div>
                  <span *ngIf="chu">
                    <i class="loader fas fa-spinner"></i> Saving
                  </span>
                  <span *ngIf="!chu">Toggle to try</span>
                </button>
                -->
            <button *ngIf="!chu" (click)="chu = !chu" btnmajor>
              Click me
            </button>
            <button *ngIf="chu" disabled btnmajor>
              <i class="loader fas fa-spinner"></i> Saving
            </button>
            <button (click)="chu = !chu" *ngIf="chu" btnmajor>
              Again
            </button>
          </ilo-head>
          <ilo-foot>
            <cd param="button btnbasiclarge"
              ><div class="ml3"><cd param="i" paramend="i"></cd> Text</div></cd
            >
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Disabled</h2>

        <p>
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
          posuere cubilia Curae;
        </p>

        <ilo>
          <ilo-head>
            <button disabled btnmajor>Confirm</button>
          </ilo-head>
          <ilo-foot>
            <cd param="button disabled btnmajor"> Text</cd>
          </ilo-foot>
        </ilo>
      </li>
    </ul>
  </div>
</div>
