<div class="content-area">
  <div class="content-body">
    <ul class="grid-column gap-xl">
      <li>
        <div class="display-lg">
          Form templates
        </div>

        <div class="ez-tip">
          <h3>General rules</h3>
          <ul class="list-panel">
            <li>
              Keep the visual direction vertical (top to bottom), not left to
              right.
            </li>
            <li>
              All form fields should have clear labels.
            </li>
            <li>
              Fields can have suggested texts.
            </li>
            <li>
              Fields can have notes/descriptions added above or below the field.
            </li>
            <li>
              Fields can be visually grouped together. Each group should have a
              clear title.
            </li>
            <li>
              Buttons are positioned at the bottom left of the page.
            </li>
          </ul>
        </div>
        <p>
          Form components:

          <a routerLink="/ezesuite/buttons" class="text-link"> Buttons</a> ,
          <a routerLink="/ezesuite/forminputs" class="text-link">
            Form inputs</a
          >
          ,
          <a routerLink="/ezesuite/navlinks" class="text-link"> Tabs</a>
        </p>
        <p>
          Related articles:
          <a class="text-link"> Errors & alert messages</a>
        </p>
      </li>

      <li>
        <h2>Form b</h2>
        <a class="text-link" routerLink="/ezesuite/formbasic"
          ><p>View in full</p></a
        >

        <ilo>
          <ilo-head>
            <formbasic-page></formbasic-page>
          </ilo-head>
          <ilo-foot>
            <iframe
              src="https://codesandbox.io/embed/engagis-gel-v10-enkq3?fontsize=14&hidenavigation=1&initialpath=%2Fezesuite%2Fformbasic(sidebar%3Asidedls)&module=%2Fsrc%2Fapp%2FGEL%2FEze%20Suite%2Fform-templates%2Fformbasic.component.html&view=editor"
              title="Engagis GEL V1.0"
              allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media"
              style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
              sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
            ></iframe>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Sample 2</h2>
        <a class="text-link" routerLink="/ezesuite/formgroups"
          ><p>View in full</p></a
        >

        <ilo>
          <ilo-head>
            <formgroups-page></formgroups-page>
          </ilo-head>
          <ilo-foot>
            <iframe
              src="https://codesandbox.io/embed/engagis-gel-v10-enkq3?fontsize=14&hidenavigation=1&initialpath=%2Fezesuite%2Fformgroups(sidebar%3Asidedls)&module=%2Fsrc%2Fapp%2FGEL%2FEze%20Suite%2Fform-templates%2Fformgroups.component.html&view=editor"
              title="Engagis GEL V1.0"
              allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media"
              style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
              sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
            ></iframe>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Sample 2</h2>
        <a class="text-link" routerLink="/ezesuite/formcomplex"
          ><p>View in full</p></a
        >

        <ilo>
          <ilo-head>
            <formcomplex-page></formcomplex-page>
          </ilo-head>
          <ilo-foot> </ilo-foot>
        </ilo>
      </li>
    </ul>
  </div>
</div>
