<div class="content-area">
  <div class="content-head">
    <div class=" grid-ctn gap-sm-rp">
      <div
        class="grid-sm-12 grid-md-5 grid-lg-3 grid-ctn-start grid grid-itm-middle"
      >
        <h1>{{pagetitle}}</h1>
      </div>

      <div
        class=" grid-sm-12 grid-md-7  grid-lg-9 rp-left grid grid-ctn-end g1"
      >
        <ng-content select="[pageactions]"></ng-content>
      </div>
    </div>
  </div>
  <div class="content-body ">
    <ng-content select="[pagebody]"></ng-content>
  </div>
</div>
