<div class="content-area">
  <div class="content-body">
    <ul class="grid-column gap-xl">
      <li>
        <div class="display-lg">
          Form inputs
        </div>
        <p>
          Related articles:<a class="text-link"> Form layout guide</a> ,
          <a class="text-link"> Form templates</a> ,
          <a class="text-link"> Errors & alert messages</a>
        </p>
      </li>

      <li>
        <h2>Text field</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class=" input-panel">
              <label class="input-head " for="sample">Username</label>
              <input type="text" class="input-field" />
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='label class="input-head"' paramend="label">
                  Username
                </cd>
                <cd
                  param='input type="text" class="input-field" '
                  paramend=""
                ></cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>

      <li class="divider"></li>
      <li>
        <h2>Visual cues (Beta)</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <div class="flex">
                <div class="input-img flex-middle text-subtle">
                  <p><i class="fas fa-search"></i></p>
                </div>
                <input placeholder="Search" type="text" class="input-field" />
              </div>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='label class="input-head"' paramend="label">
                  Username
                </cd>
                <cd
                  param='input type="text" class="input-field" '
                  paramend=""
                ></cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>

      <li class="divider"></li>
      <li>
        <h2>Select</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <label class="input-head" for="sample">Dropdown</label>
              <select class="input-field">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='label class="input-head"' paramend="label">
                  Dropdown
                </cd>
                <cd param='select class="input-field"' paramend="select">
                  <div class="ml3">
                    <cd param="option" paramend="option">
                      Sample
                    </cd>
                  </div>
                </cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>

      <li class="divider"></li>
      <li>
        <h2>Text area</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <label class="input-head" for="sample"
                >Tell me about yourself.</label
              >
              <textarea class="input-field" rows="4" cols="50"></textarea>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='label class="input-head"' paramend="label">
                  Sample
                </cd>
                <cd
                  param='textarea class="input-field" rows="4" cols="50" '
                  paramend="textarea"
                ></cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>

      <li>
        <h2>Multi-select checks</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <div class="input-head">Select your food choice</div>
              <div class="checkgroup">
                <label class="input-check  "
                  >Pasta
                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
                <label class="input-check  "
                  >Sandwich
                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
                <label class="input-check  "
                  >Chips
                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="input-panel">
              <div class="input-head">Select your drink choice</div>
              <div class="checkgroup">
                <label class="input-check">
                  <div class="checklabel">
                    Cola
                    <div class="input-foot">
                      Vivamus suscipit tortor.
                    </div>
                  </div>

                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="checkgroup">
                <label class="input-check">
                  <div class="checklabel">
                    Iced tea
                    <div class="input-foot">
                      Vivamus suscipit tortor.
                    </div>
                  </div>

                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="checkgroup">
                <label class="input-check">
                  <div class="checklabel">
                    Pineapple juice
                    <div class="input-foot">
                      Vivamus suscipit tortor.
                    </div>
                  </div>

                  <input type="checkbox" id="check" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='div class="input-head"' paramend="div">
                  Select your food choice
                </cd>
                <cd param='div class="checkgroup"' paramend="div">
                  <div class="ml3">
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          Pasta
                        </cd>

                        <cd param='input type="checkbox"' paramend=""> </cd>
                        <cd param='span class="checkmark"' paramend="span"></cd>
                      </div>
                    </cd>
                  </div>
                </cd>
              </div>
            </cd>
            <div class="py3 text-subtle text-small">
              Options with description
            </div>

            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='div class="input-head"' paramend="div">
                  Select your drink choice
                </cd>
                <cd param='div class="checkgroup"' paramend="div">
                  <div class="ml3">
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          <div class="ml3">
                            Cola
                            <cd param='div class="text-small"' paramend="div"
                              >Vivamus suscipit tortor.</cd
                            >
                          </div>
                        </cd>

                        <cd param='input type="checkbox"' paramend=""> </cd>
                        <cd param='span class="checkmark"' paramend="span"></cd>
                      </div>
                    </cd>
                  </div>
                </cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Single-select checks</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <div class="input-head">Do you want to eat now?</div>
              <div class="checkgroup">
                <label class="input-check  "
                  >Yes
                  <input type="radio" name="radio" />
                  <span class="radiomark"></span>
                </label>
                <label class="input-check  "
                  >No
                  <input type="radio" name="radio" />
                  <span class="radiomark"></span>
                </label>
              </div>
            </div>
            <div class="input-panel">
              <div class="input-head">Do you want to eat now?</div>
              <div class="checkgroup">
                <label class="input-check  ">
                  <div class="checklabel">
                    Yes
                    <div class="input-foot">
                      Vivamus suscipit tortor.
                    </div>
                  </div>
                  <input type="radio" name="radio2" />
                  <span class="radiomark"></span>
                </label>
              </div>
              <div class="checkgroup">
                <label class="input-check  ">
                  <div class="checklabel">
                    No
                    <div class="input-foot">
                      Vivamus suscipit tortor.
                    </div>
                  </div>
                  <input type="radio" name="radio2" />
                  <span class="radiomark"></span>
                </label>
              </div>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='div class="input-head"' paramend="div">
                  Do you want to eat now?
                </cd>
                <cd param='div class="checkgroup"' paramend="div">
                  <div class="ml3">
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          Yes
                        </cd>

                        <cd param='input type="radio"' paramend=""> </cd>
                        <cd param='span class="radiomark"' paramend="span"></cd>
                      </div>
                    </cd>
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          No
                        </cd>

                        <cd param='input type="radio"' paramend=""> </cd>
                        <cd param='span class="radiomark"' paramend="span"></cd>
                      </div>
                    </cd>
                  </div>
                </cd>
              </div>
            </cd>
            <div class="py3 text-subtle text-small">
              Options with description
            </div>

            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd param='div class="input-head"' paramend="div">
                  Do you want to eat now?
                </cd>
                <cd param='div class="checkgroup"' paramend="div">
                  <div class="ml3">
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          <div class="ml3">
                            Yes
                            <cd param='div class="text-small"' paramend="div"
                              >Vivamus suscipit tortor.</cd
                            >
                          </div>
                        </cd>

                        <cd param='input type="radio"' paramend=""> </cd>
                        <cd param='span class="radiomark"' paramend="span"></cd>
                      </div>
                    </cd>
                  </div>
                </cd>
                <cd param='div class="checkgroup"' paramend="div">
                  <div class="ml3">
                    <cd param='label class="input-check"' paramend="label">
                      <div class="ml3">
                        <cd param='div class="checklabel"' paramend="div">
                          <div class="ml3">
                            No
                            <cd param='div class="text-small"' paramend="div"
                              >Vivamus suscipit tortor.</cd
                            >
                          </div>
                        </cd>

                        <cd param='input type="radio"' paramend=""> </cd>
                        <cd param='span class="radiomark"' paramend="span"></cd>
                      </div>
                    </cd>
                  </div>
                </cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>

      <li>
        <h2>Helpers</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <label class="input-head " for="sample">Favorite colour</label>
              <input type="text" class="input-field" placeholder="e.g. red" />
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd
                  param='label class="input-head" placeholder="e.g. red"'
                  paramend="label"
                >
                  Favorite colour
                </cd>
                <cd
                  param='input type="text" class="input-field" '
                  paramend=""
                ></cd>
              </div>
            </cd>
            <cd param='div class="input-panel"' paramend="div">
              <div class="ml3">
                <cd
                  param='label class="input-head" placeholder="e.g. red"'
                  paramend="label"
                >
                  Help tip
                </cd>
                <cd
                  param='input type="text" class="input-field" '
                  paramend=""
                ></cd>
                <cd param='div class="input-foot" paramend="div"'>
                  Add helpers for complex form field just like this one.
                </cd>
              </div>
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Mandatory fields</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel">
              <label class="input-head input-required " for="sample"
                >Email address</label
              >
              <input
                type="text"
                placeholder="example@yourdomain.com"
                class="input-field"
                required
              />
            </div>
            <div class="input-panel">
              <label class="input-head input-required " for="sample"
                >Date</label
              >
            </div>
            <div class="input-panel">
              <div class="input-head input-required">Checkbox</div>
              <div class="checkgroup">
                <label class="input-check  "
                  >Option 1
                  <input type="checkbox" id="check" />
                  <span class=" checkmark"></span>
                </label>
                <label class="input-check  "
                  >Option 2
                  <input type="checkbox" id="check" />
                  <span class="checkmark "></span>
                </label>
              </div>
            </div>
            <div class="input-panel">
              <div class="input-head input-required">Which option?</div>
              <div class="checkgroup">
                <label class="input-check  "
                  >Option 1
                  <input type="radio" name="radio" />
                  <span class="radiomark"></span>
                </label>
                <label class="input-check  "
                  >Option 2
                  <input type="radio" name="radio" />
                  <span class="radiomark"></span>
                </label>
              </div>
            </div>
          </ilo-head>
          <ilo-foot>
            <cd param='div class="input-head input-required" ' paramend="div">
              Option 1
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <h2>Error indicators</h2>
        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
        <ilo>
          <ilo-head>
            <div class="input-panel ">
              <label class="input-head" for="sample">Username</label>
              <input type="text" class="input-field input-alert" />
              <div class="input-foot msg-alert">
                Alert message
              </div>
            </div>

            <div class="input-panel">
              <div class="input-head">Checkbox</div>

              <div class="checkgroup">
                <label class="input-check  "
                  >Option 1
                  <input type="checkbox" id="check" />
                  <span class="input-alert checkmark"></span>
                </label>
                <label class="input-check  "
                  >Option 2
                  <input type="checkbox" id="check" />
                  <span class="checkmark input-alert"></span>
                </label>
              </div>

              <div class="input-foot msg-alert">
                Please select at least one.
              </div>
            </div>
            <div class="input-panel">
              <div class="input-head">Radio buttons</div>
              <div class="checkgroup">
                <label class="input-check  "
                  >Option 1
                  <input type="radio" name="radio" />
                  <span class="radiomark input-alert"></span>
                </label>
                <label class="input-check  "
                  >Option 2
                  <input type="radio" name="radio" />
                  <span class="radiomark input-alert"></span>
                </label>
              </div>
              <div class="input-foot msg-alert">
                Please select one.
              </div>
            </div>
          </ilo-head>
          <ilo-foot>
            <p class="text-small">
              /* added <strong>input-alert</strong> in fields. */
            </p>

            <cd
              param='input type="text" class="input-field input-alert"'
              paramend=""
            ></cd>
            <cd param='span class="input-alert checkmark"'></cd>
            <cd param='span class="input-alert radiomark"'></cd>

            <p class="text-small">
              /* added <strong>msg-alert</strong> in input-foot */
            </p>

            <cd param='div class="input-foot msg-alert"' paramend="div">
              Please select one.
            </cd>
          </ilo-foot>
        </ilo>
      </li>
      <li class="divider"></li>
      <li>
        <iframe
          src="https://codesandbox.io/embed/engagis-gel-v10-enkq3?fontsize=14&module=%2Fsrc%2Fapp%2FGEL%2FEze%20Suite%2Fforminputs%2Fforminputs.component.html&moduleview=1&view=editor"
          title="Engagis GEL V1.0"
          allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media"
          style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"
          sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"
        ></iframe>
      </li>
    </ul>
  </div>
</div>
