<div class="content-area ">
  <div class="content-head grid-autofit grid-middle gap-sm-rp">
    <h1>Staffs</h1>

    <div class="text-link grid-end  gap-sm-rp">
      <button btnbasiclarge>
        <i class="fas fa-file-import"></i>
        <div class="text-small ">Import</div>
      </button>

      <button btnbasiclarge>
        <i class="fas fa-plus"></i>
        <div class="text-small ">Create</div>
      </button>
    </div>
  </div>
  <div class="content-body flex-center flex-middle">
    <div style="width:320px" class="grid-column  text-center gap-xs">
      <div class="display-lg m0">
        <img width="180px" src="https://assets-ouch.icons8.com/preview/415/99736977-8873-4ff3-b242-2cb5b20e7152.png" class="">
      </div>
      <h2 class="m0">Nothing here yet.</h2>
      <p>
        Start creating one by clicking 'Create' or import multiple records at once by clicking 'Import'.
      </p>
      <div class=" grid-center gap-xs">
      <button btnmajor>Import</button>
        <button btnmajor routerLink="/ezesuite/formbasic">Create</button>
        
      </div>
    </div>
  </div>
</div>
