<div class="content-area">
  <div class="content-head grid-autofit grid-middle gap-sm-rp">
    <h1>Users</h1>

    <div class="text-link grid-end  gap-sm-rp">
      <button routerLink="/ezesuite/tabletrash" btnbasiclarge>
        <i class="fas fa-trash-restore-alt"></i>
        <div class="text-small ">Trash</div>
      </button>
      <button routerLink="/ezesuite/tablesearch" btnbasiclarge>
        <i class="fas fa-file-import"></i>
        <div class="text-small ">Import</div>
      </button>
      <button routerLink="/ezesuite/tablesearch" btnbasiclarge>
       <i class="fas fa-search"></i>
     
        <div class="text-small ">Search</div>
      </button>
      <button routerLink="/ezesuite/formbasic" btnbasiclarge>
        <i class="fas fa-plus"></i>
        <div class="text-small ">Create</div>
      </button>
    </div>
  </div>
  <div class="content-body">
    <div class="grid grid-middle gap-sm-rp">
      <div class="input-panel grid-sm-12 grid-md-4 grid-lg-2">
        <label class="input-head" for="sample">Filter 1</label>
        <select class="input-field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="input-panel grid-sm-12 grid-md-4 grid-lg-2">
        <label class="input-head" for="sample">Filter 2</label>
        <select class="input-field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div
        class=" grid-end gap-lg rp-left grid-middle grid-sm-12 grid-md-4 grid-lg-8"
      >
        <div class=" grid-column text-center">
          <div class="flex-middle flex-center">
            <h2 class="m0"><i class="mr1 fas fa-vector-square"></i></h2>
            <h1 class=" m0">
              99
            </h1>
          </div>

          <p class="text-small m0">Active users</p>
        </div>
        <div class="divider-ttb"></div>
        <div class=" grid-column text-center">
          <div class="flex-middle flex-center">
            <h2 class="m0"><i class="mr1 fas fa-vector-square"></i></h2>
            <h1 class=" m0">
              99
            </h1>
          </div>

          <p class="text-small m0">Active users</p>
        </div>
      </div>
    </div>
    <div class="table-ctn">
      <table>
        <thead>
          <tr>
            <th>
              <label class="input-check  ">
                <input type="checkbox" id="check" />
                <span class=" checkmark"></span>
              </label>
            </th>
            <th>
              <a>Name <i class="ml1 opacity-50 fas fa-arrows-alt-v"></i></a>
            </th>
            <th>
              <a>Company <i class="ml1 opacity-50 fas fa-arrows-alt-v"></i></a>
            </th>
            <th><a>Email <i class="ml1 opacity-50 fas fa-arrows-alt-v"></i></a></th>
            <th><a>Contact <i class="ml1 opacity-50 fas fa-arrows-alt-v"></i></a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="input-check  ">
                <input
                  routerLink="/ezesuite/tablecontext"
                  type="checkbox"
                  id="check"
                />
                <span class=" checkmark"></span>
              </label>
            </td>
            <td>
              <span class="text-link ">
                Anne Curtis
              </span>
            </td>

            <td>ABS-CBN</td>
            <td>anne.curtis@gmail.com</td>
            <td>(06) 3711 0054</td>
            <td class="text-right">
            <button btnbasicsmall><i class="fas fa-ellipsis-h"></i></button>
              
            </td>
          </tr>
          <tr *ngFor="let users of users">
            <td>
              <label class="input-check  ">
                <input type="checkbox" id="check" />
                <span class=" checkmark"></span>
              </label>
            </td>
            <td>
              <span class="text-link ">
                {{users.Name}}
              </span>
            </td>
            <td>{{users.Role}}</td>
            <td>{{users.Email}}</td>
            <td>{{users.Contact}}</td>
            <td class="text-right">
              <button btnbasicsmall><i class="fas fa-ellipsis-h"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="tfoot">
        <div class="grid grid-middle ">
          <div
            class="rp-center text-subtle grid-sm-12 grid-md-4 grid-start grid-middle"
          >
            <span class="mr1">Show</span>
            <div class="dropdown-ctn">
              <button (click)="citrus = !citrus" btnminorsmall>
                10 <i class=" fas fa-angle-down"></i>
              </button>
              <div *ngIf="citrus" class="dropdown-panel">
                <a
                  class="dropdown-item"
                  [class.active]="viewMode == 'orange'"
                  (click)="viewMode = 'orange' ; citrus = !citrus"
                  >20</a
                >
                <a
                  class="dropdown-item"
                  [class.active]="viewMode == 'lemon'"
                  (click)="viewMode = 'lemon';citrus = !citrus"
                  >30</a
                >
              </div>
            </div>
            <span class="ml1">per page</span>
          </div>

          <p class="m0 rp-center grid-sm-12 grid-md-4 text-subtle text-center">
            1-10 of 50
          </p>

          <div class="rp-center  grid-md-4 grid-end ">
            <div class="pgn-panel">
              <a class="pgn-item active">1</a>
              <a class="pgn-item">2</a>
              <a class="pgn-item">3</a>
              <a class="pgn-item">4</a>
              <a class="pgn-item">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
