<div class="content-area">
  <div class="content-head grid-autofit grid-middle gap-sm-rp">
    <h1>Users</h1>

    <div class="rp-left grid-end gap-sm-rp">
      <button routerLink="/ezesuite/formbasic" btnbasiclarge>
        <i class="fas fa-plus"></i>
        <div class="text-small ">Create</div>
      </button>
    </div>
  </div>
  <div class="content-body">
    <ul class="tab-panel">
      <li class="tab-item active">All</li>
      <li class="tab-item">Group 1</li>
      <li class="tab-item">Group 2</li>
    </ul>
    <div class="grid grid-middle gap-sm-rp">
      <div class="input-panel grid-sm-12 grid-md-4 grid-lg-2">
        <label class="input-head" for="sample">Filter 1</label>
        <select class="input-field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="input-panel grid-sm-12 grid-md-4 grid-lg-2">
        <label class="input-head" for="sample">Filter 2</label>
        <select class="input-field">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="mercedes">Mercedes</option>
          <option value="audi">Audi</option>
        </select>
      </div>
      <div class="grid-end rp-left  grid-sm-12 grid-md-4 grid-lg-8">
        <p class="text-subtle">Data visualisation here</p>
      </div>
    </div>
    <div class="table-ctn">
      <table>
        <thead>
          <tr>
            <th>
              <label class="input-check  ">
                <span class="ml1">Name</span>
                <input type="checkbox" id="check" />
                <span class=" checkmark"></span>
              </label>
            </th>
            <th>Company</th>
            <th>Email</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="input-check  ">
                <input
                  routerLink="/ezesuite/tablecontext"
                  type="checkbox"
                  id="check"
                />
                <span class=" checkmark"></span>
              </label>
              <span class="text-link ">
                Anne Curtis
              </span>
            </td>

            <td>ABS-CBN</td>
            <td>anne.curtis@gmail.com</td>
            <td>(06) 3711 0054</td>
          </tr>
          <tr *ngFor="let users of users">
            <td>
              <label class="input-check  ">
                <input type="checkbox" id="check" />
                <span class=" checkmark"></span>
              </label>
              <span class="text-link ">
                {{users.Name}}
              </span>
            </td>
            <td>{{users.Role}}</td>
            <td>{{users.Email}}</td>
            <td>{{users.Contact}}</td>
          </tr>
        </tbody>
      </table>
      <div class="tfoot">
        <div class="grid grid-middle">
          <div
            class="rp-center text-subtle grid-sm-12 grid-md-4 grid-middle grid-start"
          >
            <span class="mr1">Show</span>
            <div class="dropdown-ctn">
              <button (click)="citrus = !citrus" btnminorsmall>
                10 <i class=" fas fa-angle-down"></i>
              </button>
              <div *ngIf="citrus" class="dropdown-panel">
                <a
                  class="dropdown-item"
                  [class.active]="viewMode == 'orange'"
                  (click)="viewMode = 'orange' ; citrus = !citrus"
                  >20</a
                >
                <a
                  class="dropdown-item"
                  [class.active]="viewMode == 'lemon'"
                  (click)="viewMode = 'lemon';citrus = !citrus"
                  >30</a
                >
              </div>
            </div>
            <span class="ml1">per page</span>
          </div>

          <span
            class="rp-center grid-itm-middle grid-sm-12 grid-md-4 text-subtle text-center"
          >
            1-10 of 50
          </span>

          <div
            class="rp-center grid-sm-12 grid-md-4 grid-ctn-end grid-itm-middle"
          >
            <div class="pgn-panel">
              <a class="pgn-item active">1</a>
              <a class="pgn-item">2</a>
              <a class="pgn-item">3</a>
              <a class="pgn-item">4</a>
              <a class="pgn-item">5</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
