<div class="content-area">
  <div class="content-body">
    <ul class="grid-column gap-xl">
      <li>
        <div class="display-lg">Fonts</div>
        <p>
          Use Open Sans throughout Eze Suite applications. Find and download Open Sans here.
        </p>
      </li>
      <li >
        <h2>Heading 1 </h2>
        <span class="icon-next"></span>
        <p>Use to describe page titles.</p>
        <ilo>
        <ilo-head>
          <h1>
          ABCDEFGHIJKLMNOPQRSTUVWXYZ
          </h1>
          <h1>
          abcdefghijklmnopqrstuvwxyz
          </h1>
          <h1>
          1234567890
          </h1>
        </ilo-head>
        </ilo>

      </li>
      <li class="divider"></li>
      <li >
        <h2>Heading 2</h2>
        <p>Use to describe page titles.</p>
        <ilo>
        <ilo-head>
          <h2 class="m0">
          ABCDEFGHIJKLMNOPQRSTUVWXYZ
          </h2>
          <h2 class="m0"> 
          abcdefghijklmnopqrstuvwxyz
          </h2>
          <h2 class="m0">
          1234567890
          </h2>
        </ilo-head>
        </ilo>

      </li>
      <li class="divider"></li>
      <li >
        <h2>Heading 3</h2>
        <p>Use to describe page titles.</p>
        <ilo>
        <ilo-head>
          <h3 class="m0">
          ABCDEFGHIJKLMNOPQRSTUVWXYZ
          </h3>
          <h3 class="m0"> 
          abcdefghijklmnopqrstuvwxyz
          </h3>
          <h3 class="m0">
          1234567890
          </h3>
        </ilo-head>
        </ilo>

      </li>
      <li class="divider"></li>
      <li >
        <h2>Body text</h2>
        <p>Use to describe page titles.</p>
        <ilo>
        <ilo-head>
          <p class="m0">
          ABCDEFGHIJKLMNOPQRSTUVWXYZ
          </p>
          <p class="m0"> 
          abcdefghijklmnopqrstuvwxyz
          </p>
          <p class="m0">
          1234567890
          </p>
        </ilo-head>
        </ilo>

      </li>
    </ul>
  </div>


</div>