$sz-header: 70px;
//$sz-sidebrand: 140px;
//$sz-footer:40px;
$sz-contenthead:70px;
//$sz-contentfoot:40px;
//$sides: 20px;

$space-xs: 10px;
$space-sm: 14px;
$space-md: 18px;
$space-lg: 20px;
$space-xl: 40px;





:root{
  --space-1: 10px;
  --space-2: 12px;
  --space-3: 14px;
  --space-4: 16px;
}